*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: #6d6d6d;
}


.game-container{
    text-align: center;
}

h1{
    margin-bottom: 15px;
    color: white;

}


input[type="file"]{

    margin-bottom: 20px;
    cursor: pointer;
}

.grids{
    display: flex;
    gap: 30px;
    margin-top: 25px;

}

.img-pieces{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 0;
    border: 2px solid black;
    background-color: white;

}
.piece{
    background-size: 500px 500px;
    border: none;
    cursor: grab;
}

.solve-piece{
    border: 0.1px solid black;
    background-color: white;
}
.solve-piece .piece{
    width: 100%;
    height: 100%;
}