*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}


.game-container{
    text-align: center;
}

h1{
    margin-top: 20px;
    color: white;
    font-size: 3rem;
    letter-spacing: 1.5px;
    font-weight: 700;
}

.choose-image{
    margin-top: 40%;
}

.label{
    background: #ff0000;
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;

}

input[type="file"]{
    display: none;
}

.grids{
    display: flex;
    gap: 30px;
    margin-top: 25px;

}

.img-pieces{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 0;
    border: 2px solid black;
    background-color: white;

}
.piece{
    background-size: 500px 500px;
    border: none;
    cursor: grab;
}

.solve-piece{
    border: 0.1px solid black;
    background-color: white;
}
.solve-piece .piece{
    width: 100%;
    height: 100%;
}

.hide{
    display: none;
}

.success-message{

    position: fixed;
    top: 40%;
    background: #a52323;
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}