*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}


.game-container{
    text-align: center;
}

h1{
    margin-top: 20px;
    color: white;
    font-size: 3rem;
    letter-spacing: 1.5px;
    font-weight: 700;
}

.choose-image{
    margin-top: 20%;
}

.label{
    background: #ff0000;
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;

}

input[type="file"]{
    display: none;
}

.level-buttons{
    margin-top: 15%;
}

.level-btn{
    padding: 10px 20px;
    margin: 0 10px;
    background: #f70000;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    font-size: 18px;

}

.grids{
    display: flex;
    gap: 30px;
    margin-top: 23px;

}

.img-pieces{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 0;
    border: 2px solid black;
    background-color: white;

}
.piece{
    background-size: 500px 500px;
    border: none;
    cursor: grab;
}

.solve-piece{
    border: 0.1px solid black;
    background-color: white;
}
.solve-piece .piece{
    width: 100%;
    height: 100%;
}

.hide{
    display: none;
}

.success-message{

    position: fixed;
    top: 40%;
    background: #a52323;
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

.preview-container{
    margin-top: 10%;
}


.preview-container img{

    width: 60px;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.preview-container img.zoom{
    top: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    width: 400px;
    height: auto;
    position: fixed;
    border: 1px solid yellow;
    box-shadow: 0 0 20px rgb(224, 166, 4);
    left: 50%;

}


.preview-container.fixed{

    position: fixed;
    top: 15px;
    left: 15px;
    margin-top: 0;
}

.zoom-hint{
    font-size: 15px;
    color: #ffbb00;
    margin-top: 8px;

}

#timer{
    padding-left: 80%;
    font-size: 23px;
    color: #ffbb00;
    font-weight: bold;
}

#message-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.85); 
    padding: 40px 60px;
    border-radius: 18px;
    font-size: 38px;
    color: #ffbb00;     

}


#message-text{
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 187, 0, 0.8);
    margin-bottom: 20px;

}

#message-container .btn{

    margin-top: 15px;
    padding: 10px 20px;
    background: #f70000;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    font-size: 22px;
}