*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: #6d6d6d;
}


.game-container{
    text-align: center;
}

.grids{
    display: flex;
    gap: 30px;
    margin-top: 25px;

}

.img-pieces{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 1px;
    border: 2px solid black;

}
.piece{
    background-size: 500px 500px;
    border: 1px solid black;
}